.table
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 80%;
  
}

.navbar
{
	margin-top: -20px;
	margin-bottom: -20px;
	padding-top: 30px;
}

.symbol
{
  width: 27px;
}

#logo
{
	margin-bottom: 15px;
	width: 4rem;
	height: inherit;
  	margin-right: 10px;
}

#tableContainer
{
  	overflow-x: auto;
}

#a:hover
{
	color: #56bee6;
}

.nome, .symbol, .price, .marketcap, .variation, .volume24h
{
	
	font-weight: 700;
}

th
{
	color: #98e2f1;
}

.table>:not(:first-child)
{
	border-top:2px solid white
}
#btnSearch
{
	height: 40px; 
	width: 30%; 
	outline: none;
	font-size: 1.0625rem;
	font-weight: 500;
	cursor: pointer;
	transition: .3s;
	color: white;
	border-color: white;
  background-color: black;
}
	
#btnSearch:hover
{
	background-color:#0d305c;
	border-color:#0d305c
}

.favoritos 
{
  color: rgba(255, 255, 0, 0.801);
}

.copyright 
{
  background-color: rgba(0, 0, 0, 0.2);
}
 
#erro
{
	text-align: center;
	margin-top: 200px;
}


.description-coin
{
	margin: 0px 130px 0px 130px;
	
}

.description-coin p
{
	color: #ffffff;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    padding-top: 10px;
	margin: 0px 30px 0px 30px
}

.details-coin
{
	text-align: center;
    margin: 0px 0px 20px 0px;
}

.img-coin
{
	text-align: center;
	margin: 0px 0px 25px 0px;
}

.fa-star:before {
    content: "\f005";
    padding-left: 5px;
}
