.table
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  width: 80%;
  
}

.symbol
{
  width: 27px;
}

#logo
{
  margin-right: 10px;
}

#tableContainer
{
  overflow-x: auto;
}

#a:hover
{
	color: #56bee6;
}

.nome, .symbol, .price, .marketcap, .variation, .volume24h
{
	
	font-weight: 700;
}

th
{
	color: #98e2f1;
}

.table>:not(:first-child)
{
	border-top:2px solid white
}
#btnSearch
{
	height: 40px; 
	width: 30%; 
	outline: none;
	font-size: 1.0625rem;
	font-weight: 500;
	cursor: pointer;
	transition: .3s;
	color: white;
	border-color: white;
  background-color: black;
}
	
#btnSearch:hover
{
	background-color:#0d305c;
	border-color:#0d305c
}

.favoritos 
{
  color: rgba(255, 255, 0, 0.801);
}

.copyright 
{
  background-color: rgba(0, 0, 0, 0.2);
}